@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
}

html {
  overflow-y: scroll; /* Always reserve space for scrollbar */
}

.fixed {
  margin: 0 !important;
}

@layer components {
  .card {
    @apply bg-white rounded-2xl shadow-soft p-4;
  }
  .btn {
    @apply px-4 py-2 rounded-xl font-medium transition;
  }
  .btn-primary {
    @apply btn bg-pumpkin text-white hover:opacity-90;
  }
  .btn-secondary {
    @apply btn bg-gray-200 hover:bg-gray-300;
  }
  .input {
    @apply w-full border rounded-xl px-3 py-2 focus:outline-none focus:ring-2 focus:ring-pumpkin;
  }
}
